.gbbody{
   text-align: center;
}
.gbheading {
   display: inline-block;
   width: 80%;
}
.gbboxheading {
   color: #cc7500;
}
.gbboxstyle{
   background-color: #242424;
   text-align: center;
}
.gbpics{
   width: 80%;
   margin: 5%;
}
.gbpics2{
   width: 50%;
   margin: 5%;
}
.gbtext{
   text-align: center;
   margin-left: 30%;
   margin-right: 30%;
}
.gbtext2{
   margin-right: 10%;
   margin-left: 10%;
   text-align: center;
}
.gblogos{
   display: flex;
}
figure{
   width: 50%;
}
.button-element {
   padding: 1%;
   padding-right: 4%;
   padding-left: 4%;
   margin-bottom: 5%;
   border-color: #cc7500;
   border-radius: 10%;
}  
.btn-color {
   background-color: black;
   font-size: 1.5rem;
   margin-top: 5%;
}
.btn-text {
   color: white;
}
