
.iframe-wrapper {
    position: relative;
    padding-bottom: 37.25%;
    padding-top: 30px;
    height: 0;
    width: 75%;
    overflow: hidden;
    margin: auto;
}

.iframe-wrapper iframe, .iframe-wrapper object, .iframe-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}