.menu-header {
    padding-left: 2%;
}

.product-container {
    padding-left: 1%;
    padding-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.product-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    flex: 2;
}

.product-desc-home {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    min-width: 315px;
    margin: 0 20px;
}